.ratingContainer {
  display: flex;
}

.input {
  display: block;
  height: 20px;
  padding: 0 10px;
  margin: 0;
  font-size: 14px;
  line-height: 34px;
  color: #3b3b3b;
  border: 1px solid #d9d9d9;
  box-sizing: border-box;
}

.ratingBtn {
  color: #4e879c;
  border: 1px solid #65a3be !important;
  transition: 0.1s all ease-in;
}

.ratingBtn:hover {
  color: #fff;
  background-color: #4986a1;
  border-color: transparent;
}

.ratingBtnLeft {
  composes: ratingBtn;
  border-radius: 3px 0 0 3px;
}

.ratingBtnRight {
  composes: ratingBtn;
  border-radius: 0 3px 3px 0;
}

.resetBtnContainer {
  display: flex;
  justify-content: center;
}
